body{
    padding:0px 100px;
}
h1{
    text-align: center;
    background-color: #0067B0;
    padding: 10px;
    margin: 0;
    color: #fff;
}
#textbox{
    width: 99.5%;
    border-color: #0067B0;
    font-size: 16px;
}
p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #0067B0;
    color: #fff;
    padding: 10px;
    margin: 0;
}