@{
    ViewBag.Title = "Home Page";
}
@model DropDownListApp.Models.Employee


<div class="row">
    
    <div class="col-md-10">
        @using (Html.BeginForm("Index","Home",FormMethod.Post,new { @enctype="multipart/form-data"}))
        {
            @Html.EditorFor(model=>model.Name)<br/>
            <input type="file" name="file"/><br/>
            <input type="submit" value="Save"/>
        }
    </div>
    <div>
        <a href="/Home/Download">Click Here to Download</a>
    </div>
</div>